{% comment %}
  FULL LAYOUT - Prayer Times Display
  Wrapping flexbox layout with outlined prayer cards
  Date section spans full width, prayers wrap to next row
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign gregorian = prayer_data.date.gregorian %}
{% assign hijri = prayer_data.date.hijri %}
{% assign sunrise = prayer_data.timings.Sunrise %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}
{% assign show_hijri = trmnl.plugin_settings.custom_fields_values.show_hijri_date %}
{% assign time_format = trmnl.plugin_settings.custom_fields_values.time_format %}

<div class="layout" style="position: relative;">
  {% comment %} Corner Images - 20% of layout with container query responsive sizing {% endcomment %}
  <img class="image image-dither w--[20cqw] h--[20cqh] md:w--[16cqw] md:h--[16cqh] lg:w--[12cqw] lg:h--[12cqh]" src="{{ icon_corner }}" alt="Corner Top-Left" style="position: absolute; top: 0; left: 0; transform: scaleX(-1); object-fit: contain; object-position: top right;">
  <img class="image image-dither w--[20cqw] h--[20cqh] md:w--[16cqw] md:h--[16cqh] lg:w--[12cqw] lg:h--[12cqh]" src="{{ icon_corner }}" alt="Corner Top-Right" style="position: absolute; top: 0; right: 0; object-fit: contain; object-position: top right;">
  <img class="image image-dither w--[20cqw] h--[20cqh] md:w--[16cqw] md:h--[16cqh] lg:w--[12cqw] lg:h--[12cqh]" src="{{ icon_corner }}" alt="Corner Bottom-Left" style="position: absolute; bottom: 0; left: 0; transform: rotate(180deg); object-fit: contain; object-position: bottom right;">
  <img class="image image-dither w--[20cqw] h--[20cqh] md:w--[16cqw] md:h--[16cqh] lg:w--[12cqw] lg:h--[12cqh]" src="{{ icon_corner }}" alt="Corner Bottom-Right" style="position: absolute; bottom: 0; right: 0; transform: rotate(180deg) scaleX(-1); object-fit: contain; object-position: bottom right;">

  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--row flex--wrap flex--center-x gap--medium lg:gap--large p--1 lg:p--2">
      {% comment %} Date Section - Full width at top {% endcomment %}
      <div class="flex flex--col gap--xsmall text--center p--1 w--full border--h-6">
        <div class="flex flex--row gap--medium flex--center-x flex--center-y">
          <img class="image image-dither w--[80px] h--[80px] lg:w--[110px] lg:h--[110px]" src="{{ icon_praying }}" alt="Praying" style="object-fit: contain;">
          <div class="flex flex--col gap--xsmall">
            <span class="label label--small lg:label--medium">{{ gregorian.weekday.en }}</span>
            <span class="value value--large lg:value--xlarge">{{ gregorian.day }}</span>
            <span class="title title--small lg:title--medium">{{ gregorian.month.en }}</span>
          </div>
          {% if show_hijri %}
          <div class="divider h--8 lg:h--10"></div>
          <div class="flex flex--col gap--xsmall">
            <span class="label label--small lg:label--medium">Hijri</span>
            <span class="value value--large lg:value--xlarge">{{ hijri.day }}</span>
            <span class="title title--small lg:title--medium">{{ hijri.month.en }}</span>
          </div>
          {% endif %}
          <div class="divider h--8 lg:h--10"></div>
          <div class="flex flex--col gap--xsmall">
            <img class="image image-dither w--[35px] h--[35px] lg:w--[45px] lg:h--[45px]" src="{{ icon_sunrise }}" alt="Sunrise" style="object-fit: contain; margin: 0 auto;">
            <span class="label label--small lg:label--medium">Sunrise</span>
            <span class="value value--small lg:value value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: sunrise %}{% else %}{{ sunrise }}{% endif %}</span>
          </div>
        </div>
      </div>

      {% comment %} Prayer Items - Wrapping with outline {% endcomment %}
      {% comment %} Fajr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall lg:gap--small p--1 w--min-[100px] lg:w--min-[140px] text--center">
        <span class="label label--medium lg:label--xlarge label--inverted mt--2">Fajr فجر</span>
        <span class="value value--large lg:value--xxlarge value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Fajr %}{% else %}{{ timings.Fajr }}{% endif %}</span>
      </div>

      {% comment %} Dhuhr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall lg:gap--small p--1 w--min-[100px] lg:w--min-[140px] text--center">
        <span class="label label--medium lg:label--xlarge label--inverted mt--2">Dhuhr ظهر</span>
        <span class="value value--large lg:value--xxlarge value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Dhuhr %}{% else %}{{ timings.Dhuhr }}{% endif %}</span>
      </div>

      {% comment %} Asr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall lg:gap--small p--1 w--min-[100px] lg:w--min-[140px] text--center">
        <span class="label label--medium lg:label--xlarge label--inverted mt--2">Asr عصر</span>
        <span class="value value--large lg:value--xxlarge value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Asr %}{% else %}{{ timings.Asr }}{% endif %}</span>
      </div>

      {% comment %} Maghrib {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall lg:gap--small p--1 w--min-[100px] lg:w--min-[140px] text--center">
        <span class="label label--medium lg:label--xlarge label--inverted mt--2">Maghrib مغرب</span>
        <span class="value value--large lg:value--xxlarge value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Maghrib %}{% else %}{{ timings.Maghrib }}{% endif %}</span>
      </div>

      {% comment %} Isha {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall lg:gap--small p--1 w--min-[100px] lg:w--min-[140px] text--center">
        <span class="label label--medium lg:label--xlarge label--inverted mt--2">Isha عشاء</span>
        <span class="value value--large lg:value--xxlarge value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Isha %}{% else %}{{ timings.Isha }}{% endif %}</span>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "full" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
