{% comment %}
  FULL LAYOUT - Prayer Times Display
  Shows all 5 prayers with date information
{% endcomment %}

{% assign prayer_data = data.data %}
{% assign timings = prayer_data.timings %}
{% assign gregorian = prayer_data.date.gregorian %}
{% assign hijri = prayer_data.date.hijri %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}
{% assign show_hijri = trmnl.plugin_settings.custom_fields_values.show_hijri_date %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--col gap--medium h--full p--2">
      {% comment %} Date Section {% endcomment %}
      <div class="flex flex--row gap--medium flex--center-x">
        <div class="flex flex--col gap--xsmall text--center flex-1">
          <span class="label label--small">{{ gregorian.weekday.en }}</span>
          <span class="title title--medium">{{ gregorian.day }} {{ gregorian.month.en }}</span>
        </div>
        {% if show_hijri %}
        <div class="divider"></div>
        <div class="flex flex--col gap--xsmall text--center flex-1">
          <span class="label label--small">Islamic Date</span>
          <span class="description">{{ hijri.day }} {{ hijri.month.en }}</span>
        </div>
        {% endif %}
      </div>

      {% comment %} Prayer Times Grid {% endcomment %}
      <div class="grid grid--cols-2 gap--medium gap--large">
        <div class="text--center">
          <span class="label md:label label--small">Fajr</span>
          <div class="value value--large md:value--xlarge value--tnums">{{ timings.Fajr }}</div>
        </div>
        <div class="text--center">
          <span class="label md:label label--small">Dhuhr</span>
          <div class="value value--large md:value--xlarge value--tnums">{{ timings.Dhuhr }}</div>
        </div>
        <div class="text--center">
          <span class="label md:label label--small">Asr</span>
          <div class="value value--large md:value--xlarge value--tnums">{{ timings.Asr }}</div>
        </div>
        <div class="text--center">
          <span class="label md:label label--small">Maghrib</span>
          <div class="value value--large md:value--xlarge value--tnums">{{ timings.Maghrib }}</div>
        </div>
        <div class="col--span-2 text--center">
          <span class="label md:label label--small">Isha</span>
          <div class="value value--large md:value--xlarge value--tnums">{{ timings.Isha }}</div>
        </div>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "full" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
