{% comment %}
  FULL LAYOUT - Prayer Times Display
  Wrapping flexbox layout with outlined prayer cards
  Date section spans full width, prayers wrap to next row
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign gregorian = prayer_data.date.gregorian %}
{% assign hijri = prayer_data.date.hijri %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}
{% assign show_hijri = trmnl.plugin_settings.custom_fields_values.show_hijri_date %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--row flex--wrap flex--center-x gap--medium p--1">
      {% comment %} Date Section - Full width at top {% endcomment %}
      <div class="flex flex--col gap--xsmall text--center p--1 w--full border--h-6">
        <div class="flex flex--row gap--medium flex--center-x">
          <div class="flex flex--col gap--xsmall">
            <span class="label label--small">{{ gregorian.weekday.en }}</span>
            <span class="value value--large">{{ gregorian.day }}</span>
            <span class="title title--small">{{ gregorian.month.en }}</span>
          </div>
          {% if show_hijri %}
          <div class="divider h--8"></div>
          <div class="flex flex--col gap--xsmall">
            <span class="label label--small">Hijri</span>
            <span class="value value--large">{{ hijri.day }}</span>
            <span class="title title--small">{{ hijri.month.en | slice: 0, 4 }}</span>
          </div>
          {% endif %}
        </div>
      </div>

      {% comment %} Prayer Items - Wrapping with outline {% endcomment %}
      {% comment %} Fajr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[100px] text--center">
        <span class="label label--small">Fajr</span>
        <span class="value value--large value--tnums" data-value-fit="true" data-value-fit-max-height="50">{{ timings.Fajr }}</span>
      </div>

      {% comment %} Dhuhr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[100px] text--center">
        <span class="label label--small">Dhuhr</span>
        <span class="value value--large value--tnums" data-value-fit="true" data-value-fit-max-height="50">{{ timings.Dhuhr }}</span>
      </div>

      {% comment %} Asr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[100px] text--center">
        <span class="label label--small">Asr</span>
        <span class="value value--large value--tnums" data-value-fit="true" data-value-fit-max-height="50">{{ timings.Asr }}</span>
      </div>

      {% comment %} Maghrib {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[100px] text--center">
        <span class="label label--small">Maghrib</span>
        <span class="value value--large value--tnums" data-value-fit="true" data-value-fit-max-height="50">{{ timings.Maghrib }}</span>
      </div>

      {% comment %} Isha {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[100px] text--center">
        <span class="label label--small">Isha</span>
        <span class="value value--large value--tnums" data-value-fit="true" data-value-fit-max-height="50">{{ timings.Isha }}</span>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "full" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
