{% comment %}
  HALF_HORIZONTAL.LIQUID - Half-size Horizontal Layout
  Wrapping flexbox layout with outlined prayer cards
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--row flex--wrap flex--center-x gap--small p--1">
      {% comment %} Fajr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--small p--1 w--min-[90px] text--center">
        <span class="label">Fajr</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="60">{{ timings.Fajr }}</span>
      </div>

      {% comment %} Dhuhr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--small p--1 w--min-[90px] text--center">
        <span class="label">Dhuhr</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="60">{{ timings.Dhuhr }}</span>
      </div>

      {% comment %} Asr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--small p--1 w--min-[90px] text--center">
        <span class="label">Asr</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="60">{{ timings.Asr }}</span>
      </div>

      {% comment %} Maghrib {% endcomment %}
      <div class="outline flex flex--col flex--center gap--small p--1 w--min-[90px] text--center">
        <span class="label">Maghrib</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="60">{{ timings.Maghrib }}</span>
      </div>

      {% comment %} Isha {% endcomment %}
      <div class="outline flex flex--col flex--center gap--small p--1 w--min-[90px] text--center">
        <span class="label">Isha</span>
        <span class="value value--medium value--tnums" data-value-fit="true" data-value-fit-max-height="60">{{ timings.Isha }}</span>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "half" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
