{% comment %}
  QUADRANT LAYOUT - Prayer Times Compact
  All 5 prayers in outlined cards, wrapping in compact quarter-screen display
{% endcomment %}

{% assign prayer_data = data %}
{% assign timings = prayer_data.timings %}
{% assign custom_title = trmnl.plugin_settings.custom_fields_values.custom_title %}
{% assign time_format = trmnl.plugin_settings.custom_fields_values.time_format %}

<div class="layout">
  {% if prayer_data and timings.Fajr %}
    <div class="flex flex--row flex--wrap flex--center-x gap--xsmall lg:gap--small p--1">
      {% comment %} Fajr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[70px] lg:w--min-[90px] text--center">
        <span class="label label--medium lg:label--large label--inverted mt--1">Fajr</span>
        <span class="value value--small lg:value--large value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Fajr %}{% else %}{{ timings.Fajr }}{% endif %}</span>
      </div>

      {% comment %} Dhuhr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[70px] lg:w--min-[90px] text--center">
        <span class="label label--medium lg:label--large label--inverted mt--1">Dhuhr</span>
        <span class="value value--small lg:value--large value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Dhuhr %}{% else %}{{ timings.Dhuhr }}{% endif %}</span>
      </div>

      {% comment %} Asr {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[70px] lg:w--min-[90px] text--center">
        <span class="label label--medium lg:label--large label--inverted mt--1">Asr</span>
        <span class="value value--small lg:value--large value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Asr %}{% else %}{{ timings.Asr }}{% endif %}</span>
      </div>

      {% comment %} Maghrib {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[70px] lg:w--min-[90px] text--center">
        <span class="label label--medium lg:label--large label--inverted mt--1">Maghrib</span>
        <span class="value value--small lg:value--large value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Maghrib %}{% else %}{{ timings.Maghrib }}{% endif %}</span>
      </div>

      {% comment %} Isha {% endcomment %}
      <div class="outline flex flex--col flex--center gap--xsmall p--1 w--min-[70px] lg:w--min-[90px] text--center">
        <span class="label label--medium lg:label--large label--inverted mt--1">Isha</span>
        <span class="value value--small lg:value--large value--tnums" data-value-fit="true">{% if time_format == '12h' %}{% render "format_time_12h", time: timings.Isha %}{% else %}{{ timings.Isha }}{% endif %}</span>
      </div>
    </div>
  {% else %}
    {% render "error_state", size: "quadrant" %}
  {% endif %}
</div>

{% render "title_bar", custom_title: custom_title, trmnl: trmnl %}
