{% comment %}
  ============================================================================
  SHARED.LIQUID - Prayer Times Plugin Components
  ============================================================================
  Reusable templates for prayer times display
  Usage: {% render "component_name", param: value %}
  ============================================================================
{% endcomment %}

{% comment %}
  ERROR STATE - Plugin unconfigured
{% endcomment %}
{% template error_state %}
{% if size == 'full' %}
<div class="flex flex--col flex--center-x flex--center-y gap--medium h--full">
  <div class="value value--xlarge md:value--xxlarge lg:value--xxxlarge">🕌</div>
  <div class="title title--medium md:title--large text--center">Prayer Times</div>
  <div class="description md:title md:title--small text--center">
    Configure your location (latitude/longitude) in settings to see prayer times
  </div>
</div>
{% elsif size == 'half' %}
<div class="flex flex--col flex--center-x flex--center-y gap--small h--full">
  <div class="value value--large">🕌</div>
  <div class="title title--small md:title--medium text--center">Add Location</div>
  <div class="description text--center">Latitude & Longitude</div>
</div>
{% elsif size == 'quadrant' %}
<div class="flex flex--col flex--center-x flex--center-y gap--xsmall h--full">
  <div class="value">🕌</div>
  <div class="description text--center">Config</div>
</div>
{% endif %}
{% endtemplate %}

{% comment %}
  PRAYER CARD - Display single prayer time
  Parameters: name, time
{% endcomment %}
{% template prayer_card %}
<div class="flex flex--col gap--xsmall text--center">
  <span class="label md:label--small">{{ name }}</span>
  <span class="value value--medium md:value--large value--tnums">{{ time }}</span>
</div>
{% endtemplate %}

{% comment %}
  PRAYER ROW - Display prayer name and time side by side
{% endcomment %}
{% template prayer_row %}
<div class="flex flex--row flex--between gap--medium items-center">
  <span class="label md:label label--small">{{ name }}</span>
  <span class="value value--small md:value--medium value--tnums">{{ time }}</span>
</div>
{% endtemplate %}

{% comment %}
  HIJRI DATE BADGE - Display Islamic calendar date
{% endcomment %}
{% template hijri_date %}
<div class="flex flex--col gap--xsmall text--center">
  <span class="label label--small">Islamic Date</span>
  <span class="description">{{ day }} {{ month }} {{ year }}</span>
</div>
{% endtemplate %}

{% comment %}
  TITLE BAR - Standard header for all layouts
  Note: trmnl variable passed in render call to access plugin settings
{% endcomment %}
{% template title_bar %}
<div class="title_bar">
  <span class="title md:title--large">
    {% if custom_title and custom_title != '' %}
      {{ custom_title }}
    {% elsif trmnl.plugin_settings.custom_fields_values.custom_title and trmnl.plugin_settings.custom_fields_values.custom_title != '' %}
      {{ trmnl.plugin_settings.custom_fields_values.custom_title }}
    {% else %}
      Prayer Times
    {% endif %}
  </span>
</div>
{% endtemplate %}

